<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day17,36unka templating</title>
</head>

<body>
    <h2>this is template</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cupiditate eos eaque, soluta maiores, consectetur
        numquam omnis dolor maxime nisi odio placeat ut deleniti beatae hic sit! Nulla, ex. Distinctio!
        Enim non ducimus eaque. Odio, modi, veritatis sint adipisci sunt officiis sequi praesentium fuga necessitatibus
        eaque rerum, quasi vel fugit quis repudiandae provident sed illo! Suscipit assumenda voluptas omnis et.</p>
    <button>evi hu</button>
</body>

</html>