<%- include('../layouts/header', {title: 'Add new Listing'}) %>
<html>
  <body>
    <h2 class="w-full py-4 mx-auto text-2xl text-center">New Listing</h2>

    <form action="/listings" method="post" class="w-3/4 mx-auto md:text-sm">
      <label for="full-name" class="text-sm leading-7 text-gray-400"
        >Title</label
      >
      <input
        type="text"
        class="placeholder:text-gray-600"
        name="listing[title]"
        id="title"
        placeholder="Super villa"
        required
      />

      <label for="full-name" class="text-sm leading-7 text-gray-400"
        >Description</label
      >
      <textarea
        class="p-4 placeholder:text-gray-600"
        name="listing[description]"
        id=""
        cols="30"
        rows="5"
        placeholder="Sweet home sweet"
        required
      ></textarea>

      <label for="full-name" class="text-sm leading-7 text-gray-400"
        >Image link</label
      >
      <input
        type="text"
        class="placeholder:text-gray-600"
        name="listing[image]"
        id="image"
        placeholder="https://example.com/720x420"
      />

      <div class="flex flex-col gap-3 md:flex-row">
        <div class="md:w-1/2">
          <label for="full-name" class="text-sm leading-7 text-gray-400"
            >Price</label
          >
          <input
            type="number"
            class="placeholder:text-gray-600"
            name="listing[price]"
            id="price"
            min="0"
            placeholder="1200"
            required
          />
        </div>

        <div class="md:w-1/2">
          <label for="full-name" class="text-sm leading-7 text-gray-400"
            >Country</label
          >
          <input
            type="text"
            class="placeholder:text-gray-600"
            name="listing[country]"
            id="country"
            placeholder="India"
            required
          />
        </div>
      </div>

      <label for="full-name" class="text-sm leading-7 text-gray-400"
        >Location</label
      >
      <input
        type="text"
        class="placeholder:text-gray-600"
        name="listing[location]"
        id="location"
        placeholder="Dakshinpuri, virat"
        required
      />

      <button
        class="w-full px-8 py-2 text-lg text-white bg-red-500 border-0 rounded md:w-fit md:text-sm focus:outline-none hover:bg-red-600"
      >
        Add Listing
      </button>
    </form>
  </body>
</html>
