<%- include('../layouts/nav', {title: 'Add new Listing'}) %>
<html>
  <body>
    <h2 class="w-full py-4 mx-auto text-2xl text-center">New Listing</h2>

    <form
      action="/listings"
      method="post"
      class="flex flex-col w-3/4 gap-2 mx-auto md:w-1/2 md:text-sm"
      enctype="multipart/form-data"
    >
      <div class="flex flex-col title">
        <label
          for="full-name"
          class="text-base font-semibold leading-7 md:font-normal md:text-lg"
          >Title</label
        >
        <input
          type="text"
          class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
          name="listing[title]"
          id="title"
          placeholder="Super villa"
          required
        />
      </div>

      <div class="flex flex-col descriptoin">
        <label
          for="full-name"
          class="text-base font-semibold leading-7 md:font-normal md:text-lg"
          >Description</label
        >
        <textarea
          class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
          name="listing[description]"
          id=""
          cols="30"
          rows="5"
          placeholder="Sweet home sweet"
          required
        ></textarea>
      </div>

      <!-- <div class="flex flex-col imageLink">
        <label
          for="full-name"
          class="text-base font-semibold leading-7 md:font-normal md:text-lg"
          >Image link</label
        >
        <input
          type="text"
          class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
          name="listing[image]"
          id="image"
          placeholder="https://example.com/720x420"
        />
      </div> -->

      <div class="flex flex-col imageLink">
        <label
          for="full-name"
          class="text-base font-semibold leading-7 md:font-normal md:text-lg"
          >Upload Image</label
        >
        <input
          type="file"
          class="p-2 cursor-pointer focus:outline-none rounded bg-baseColor placeholder:text-gray-600 block w-full text-sm text-slate-500 file:mr-4 file:py-1 file:px-2 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
          name="listing[image]"
          id="image"
          placeholder="https://example.com/720x420"
        />
      </div>

      <div class="flex flex-col gap-3 my-2 md:flex-row">
        <div class="flex flex-col md:w-1/2">
          <label
            for="full-name"
            class="text-base font-semibold leading-7 md:font-normal md:text-lg"
            >Price</label
          >
          <input
            type="number"
            class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
            name="listing[price]"
            id="price"
            min="0"
            placeholder="1200"
            required
          />
        </div>

        <div class="flex flex-col md:w-1/2">
          <label
            for="full-name"
            class="text-base font-semibold leading-7 md:font-normal md:text-lg"
            >Country</label
          >
          <input
            type="text"
            class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
            name="listing[country]"
            id="country"
            placeholder="India"
            required
          />
        </div>
      </div>

      <div class="flex flex-col location">
        <label
          for="full-name"
          class="text-base font-semibold leading-7 md:font-normal md:text-lg"
          >Location</label
        >
        <input
          type="text"
          class="p-2 border border-gray-700 focus:outline-none rounded bg-baseColor placeholder:text-gray-600"
          name="listing[location]"
          id="location"
          placeholder="Dakshinpuri, virat"
          required
        />
      </div>

      <button
        class="w-full px-8 py-2 my-2 text-lg text-white bg-red-500 border-0 rounded md:w-fit md:text-sm focus:outline-none hover:bg-red-600"
      >
        Add Listing
      </button>
    </form>
  </body>
</html>
