<div
  class="flex flex-wrap align-middle justify-evenly my-3 px-3 md:px-20 py-1 w-full bg-[#212B31] rounded-full"
>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-search-2-line text-2xl"></i>
    <p class="text-sm">Explore</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-hotel-bed-fill text-2xl"></i>
    <p class="text-sm">Rooms</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-sketching text-2xl"></i>
    <p class="text-sm">Lakes</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-cactus-fill text-2xl"></i>
    <p class="text-sm">Desert</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-football-fill text-2xl"></i>
    <p class="text-sm">Footballing</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-key-2-fill text-2xl"></i>
    <p class="text-sm">New</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-treasure-map-fill text-2xl"></i>
    <p class="text-sm">Treasure</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-building-fi text-2xl"></i>
    <p class="text-sm>Iconic city</p>
  </div>
  <div
    class="filter flex flex-col text-center opacity-40 hover:opacity-100 cursor-pointer mr-3"
  >
    <i class="ri-key-2-fill text-2xl"></i>
    <p class="text-sm">New</p>
  </div>
</div>
