<header class="text-gray-400 px-2 py-3 sticky top-0 bg-[#0f1418]">
  <div class="container flex flex-wrap items-center gap-2 mx-auto align-middle">
    <a
      href="/listings"
      class="flex items-center font-medium text-gray-900 align-middle cursor-pointer title-font"
    >
      <i class="text-3xl text-red-400 ri-compass-3-line md:text-2xl"></i>
      <span class="hidden ml-3 text-xl text-white md:block">WondersLand</span>
    </a>
    <nav
      class="flex flex-wrap items-center justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400"
    >
      <a href="/listings" class="mr-5 cursor-pointer hover:text-gray-600"
        >Home</a
      >
      <!-- <a href="/listings" class="mr-5 cursor-pointer hover:text-gray-600"
        >Listing</a> -->
      <a href="/listings/new" class="mr-5 cursor-pointer hover:text-gray-600"
        >Add New</a
      >
    </nav>
  </div>
</header>
