<header class="text-gray-400 px-2 py-3 sticky top-0 bg-[#0f1418]">
  <div
    class="container flex flex-wrap justify-between gap-2 mx-auto align-middle"
  >
    <div class="flex flex-wrap justify-between gap-2 leftt">
      <a
        href="/listings"
        class="flex items-center text-gray-900 align-middle cursor-pointer title-font"
      >
        <i class="text-3xl text-red-400 ri-compass-3-line md:text-2xl"></i>
        <span class="hidden ml-3 text-xl text-white md:block">WondersLand</span>
      </a>
      <nav
        class="flex flex-wrap justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400"
      >
        <a href="/listings" class="mr-5 cursor-pointer hover:text-gray-600"
          >Home</a
        >
        <a href="/listings/new" class="mr-5 cursor-pointer hover:text-gray-600"
          >Add New</a
        >
      </nav>
    </div>

    <div class="rightt">
      <nav
        class="flex flex-wrap justify-end text-base md:mr-auto md:ml-4 md:py-1 md:pl-4"
      >
        <% if(!currUser){%>
        <a href="/login" class="mr-5 text-sm cursor-pointer hover:text-gray-600"
          >Login</a
        >
        <a
          href="/signup"
          class="mr-5 text-sm font-semibold text-white bg-red-500 cursor-pointer h-fit hover:bg-red-800"
          >Signup</a
        >
        <% }else{ %>
        <a
          href="/logout"
          class="mr-5 text-sm hover:text-gray-600 cursor-pointer"
          >Logout</a
        >
        <% } %>
      </nav>
    </div>
  </div>
</header>
