<a
  class="text-sm cursor-pointer h-fit hover:text-gray-600"
  id="user-menu-button"
  aria-expanded="true"
  data-dropdown-toggle="dropdown"
>
  <span class="sr-only">Open user menu</span>
  <img
    class="w-8 h-8 rounded-full"
    src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
    alt="user photo"
  />
</a>
<!-- Dropdown menu -->
<div
  class="hidden z-50 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-800 dark:divide-gray-600"
  id="dropdown"
>
  <div class="block w-full">
    <a
      href="/logout"
      class="m-0 px-4 py-3 h-fit w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-gray-400"
      >Logout</a
    >
    <!-- <a
      href="/logout"
      class="m-0 px-4 py-3 h-fit w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >Logout</a
    >
    <a
      href="/logout"
      class="m-0 px-4 py-3 h-fit w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >Logout</a
    > -->
  </div>
  <!-- <div class="py-3 px-4">
  <span
    class="block text-sm font-semibold text-gray-900 dark:text-white"
    >Neil sims</span
  >
  <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
    >name@flowbite.com</span
  >
</div> -->
  <!-- <ul
  class="py-1 text-gray-500 dark:text-gray-400 list-disc"
  aria-labelledby="dropdown"
>
  <li>
    <a
      href="#"
      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >My profile</a
    >
  </li>
  <li>
    <a
      href="#"
      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >Account settings</a
    >
  </li>
</ul> -->
</div>
